.storybook-taglist {
  display: inline-block;
  background-color: black;
  min-height: 1000;
  min-width: 100;
}

.storybook-skill {
  /* width: 100;
  height: 100; */
  /* background-color: black; */
  
}

.storybook-card {
  color: black;
  
}