.storybook-text {
  font-family: sans-serif;
  color: #333;
}

.storybook-text-taglist {
    font-family: sans-serif;
    color: #ede9e9;
  }

.storybook-text--primary {
    font-weight: 500;
    font-size: 16px;
}

.storybook-text--small {
    font-weight: 200;
    font-size: 12px;
}

.storybook-text--large {
    font-weight: 700;
    font-size: 32px;
}